 
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <title>Register | Hello App</title>
   
  </head>
  <body> 
  {% comment %} emp_id {% endcomment %}
        <div class="container" style="margin-top: 40px;">
            <h3 style="text-align: center;"> REGISTRATION</h3>
            <form> 
                <div class="row" style="margin-top: 60px; margin-left: 20%;margin-bottom:40px;">
                    <div class="col-lg-9">
                        <div class="form-group"> 
                            <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Full Name">
                        </div> 
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group"> 
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div> 
                    </div>  
                    <div class="col-lg-9">
                        <div class="form-group"> 
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                        </div> 
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group"> 
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div> 
                    </div> 
                    <div class="col-lg-9">
                        <div class="form-group"> 
                            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                        </div>  
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group"> 
                            <select class="form-control" id="user_role" name="user_role">
                            <option value="">Select User Role</option>
                            <option value="1">Admin</option>
                            <option value="2">SuperAdmin</option>
                            <option value="3">Developer</option>
                            <option value="4">Designer</option>
                            <option value="5">Tester</option>
                            <option value="6">PM</option>
                            </select>
                        </div>
                    </div> 
                    <div class="col-lg-9">
                        <div class="form-group"> 
                            <textarea class="form-control" Placeholder="About Me" id="about" name="about" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Profile Pic</label>
                            <input type="file" id="user_image"  name="user_image"  class="form-control-file">
                        </div> 
                    </div> 
                    <div class="col-lg-12" style="margin-top:30px;margin-left: 30%;">
                        <button type="submit" class="btn btn-primary" name="submit">Register</button> 
                    </div> 
                    <div class="col-lg-12" style="margin-top:20px;margin-left: 24%;"> 
                        <p> You have an Account ? <a href="/login"> Login</a></p>
                    </div> 
                </div>                
            </form>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>